.box-cards {
	display: flex;
	flex-direction: row;
	width: 100%;

	@include media-breakpoint-down(md) {
		flex-direction: column;
	}
}

.box-card {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 6rem;
	height: 35rem;

	.visible-on-hover {
		visibility: hidden;
	}

	@include hover() {
    opacity: 0.8;
		.visible-on-hover {
			visibility: visible;
		}
  }
	
	@include media-breakpoint-down(md) {
		width: 100%;
		padding: 5rem 0;
		.visible-on-hover {
			visibility: visible;
		}
	}
}