.product-survey-card {
	position: absolute;
	right: 10rem;
	bottom: -2rem;
	width: 40rem;
	text-align: center;
}

.rounded-button {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}