.navbar {
	padding: 1rem;

	.megamenu {
		width: 100%;
	}
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-collapse {
		justify-content: space-between;
		flex-grow: 0;
	}
}

.visually-hidden {
	color: transparent;
}